.ticketsModule {
  padding: 70px 0;
}

.ticketsModule-wrapper {
  width: 90%;
  max-width: $content__max-width;
  margin: auto;
}


.ticketsModule-text {
  text-align: center;
  width: 100%;
  margin:auto;
  max-width: 650px;
  margin-bottom: 48px;
}

.ticket {
  box-shadow: $shadow;
}

.ticket-spacer {
  height:24px;
  &:last-child {
    height: 0;
  }
}

.ticket-image {
  img {
    width: 100%;
  }
}
.ticket-image--bronze {
  @include linear-gradient(to bottom, #945d28, #794d20);
}

.ticket-image--silver {
  @include linear-gradient(to bottom, #c0c0c0, #aba6a6)
}

.ticket-image--gold {
  @include linear-gradient(to bottom, #FFD700, #ceb00e)
}


.ticket-content {
  background-color: darken($color_dark--shaded,10);
  padding: 16px;
  text-align: center;
}
.ticket-name {
  margin-top: 0;
  margin-bottom: 0;
}

.ticket-content-list {
  text-align: left;

}

.ticket-prices {
  background-color: $color_dark--shaded;
  text-align: center;
  padding: 16px;
}
.ticket-price {
  font-size: 1.4em;
  font-weight:bold;
}
.ticket-fee {
  font-style: italic;
  font-size: .9em;
}
.ticket-purchase-button {
  margin-top: 16px;
}


@media (min-width: 768px) {
  .ticket {
    display:table-row;
  }
  .ticket-image {

    display: table-cell;
    width: 25%;
    vertical-align: middle;
  }
  .ticket-content {
    text-align: left;
    padding: 32px;
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }
  .ticket-prices {
    display: table-cell;
    width:25%;
    vertical-align: middle;
  }
}