.countdownModule {
  padding: 100px 0;
}
.countdownModule-wrapper {
  max-width: 750px;
  width: 95%;
  margin: auto;
}

.countdown {
  background-color: transparentize($color_dark--shaded, 0.1);
  padding: 24px 24px 60px 24px;
  position:relative;
  box-shadow: $shadow;
}

.countdown-info-wrapper {
  text-align: center;
}

.countdown-title {
  color: $color_white--primary;
  text-transform: uppercase;
  margin: 0;
  font-size:30px;
  line-height:1.1;
  margin-bottom:16px;
}

.countdown-coarse-location {
  color: $color_white--primary;
  text-transform: uppercase;
  display: block;
  font-size:.9em;
  font-weight: bold;
}

.countdown-fine-location {
  font-size:.9em;
  font-weight:bold;
  color: $color_red--primary;
  text-transform: uppercase;
  display: block;
}


.countdown-date {
  text-align: center;
  margin-top:24px;
  margin-bottom:24px;
}
.countdown-date-date {
  font-size: 3em;
  line-height: 1;
  display: block;
  color: $color_red--primary;
  font-weight: bold;
}
.countdown-date-month {
  display: block;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}




.countdown-timer-wrapper {
  display: none;
}
.timer-label {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size:.9em;
  letter-spacing: 3px;
  font-weight: bold;
}


.timer-block {
  display: inline-block;
  width:25%;
  vertical-align: middle;
  text-align: center;
  padding: 6px 0;
}

.timer-block-value {
  display: block;
  font-size:1.5em;
}
.timer-block-label {
  display: block;
  text-transform: uppercase;
  font-size:.8em;
}






.countdown-cta {

  position: absolute;
  bottom:0;
  left:0;
  padding: 16px 0 16px 0;
  width: 100%;
}



@media (min-width: 650px) {
  .countdown {
    padding: 60px 60px 120px 60px;
  }
  .countdown-info-wrapper {
    display: inline-block;
    width:75%;
    vertical-align: middle;
    text-align: left;
  }
  .countdown-date-wrapper {
    display: inline-block;
    width:25%;
    vertical-align: middle;
  }

  .countdown-timer-wrapper {
    display: block;
    margin-top: 36px;
    padding: 0 20%;
  }
}
