.entertainersModule {
  padding: 70px 0;
}

.entertainersModule-wrapper {
  width: 95%;
  max-width: $content__max-width;
  margin: auto;
}


.entertainer {
  margin-bottom: 24px;
  display: inline-block;
  box-shadow: $shadow;
}
.entertainer-image {
  padding-bottom: 100%;
  background-position: center;
  background-size:cover;
}

.entertainer-content {
  background-color: $color_dark--shaded;
  padding: 16px;
}

.entertainer-name {
  text-transform: uppercase;
  font-size: 1em;
  text-align:center;
  margin:0;
}
.entertainer-bio {
  text-align:center;
  .entertainersModule--hideBio & {
    display: none;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .entertainer {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}


@media (min-width: 1024px) {
  .entertainer {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}