.callToActionsModule {
  padding: 100px 0;
}
.callToActionsModule-wrapper {
  max-width: $content__max-width;
  width: 95%;
  margin: auto;
}


.callToAction {
  position: relative;
  box-shadow: $shadow;
  @include transition(transform .2s)
}
.callToAction-spacer {
  padding-bottom: 60%;
}
.callToAction-content {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-size: cover;
  background-position:center;
}

.callToAction-link--fullsize {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: block;
  background-color: black;
  opacity:0;
  @include transition(opacity .2s);
}


.callToAction:hover .callToAction-link--fullsize {
  opacity: .2;
}
.callToAction:hover {
  @include transform( scale(1.01));
}

.callToAction--text {
  background-color: $color_dark--shaded;

  .callToAction-content {
    top:auto;
    padding: 0 32px 32px 32px;
  }
}



.callToAction-title {
  margin-top:0;
  margin-bottom:0;
  font-size:2em;
  line-height: 1.1;
}
.callToAction-subtitle {
  text-transform: uppercase;
  font-size:.8em;
  font-weight: bold;
}

@media (min-width: 550px) and (max-width: 760px) {
  .callToAction-title {
    font-size:2.8em;
    line-height: 1.1;
  }
}

@media (min-width: 1024px) {
  .callToAction--text {
      .callToAction-content {
        padding: 0 24px 24px 24px;
      }
  }
  .callToAction-title {
    font-size:1.7em;
  }
}





.callToAction {
  width: 100%;
  margin-bottom: 2%;
  float:left;
}

@media (min-width: 760px) and (max-width: 1024px) {
  .callToAction {
    width: 49%;
  }

  .callToAction:nth-child(2n) {
    margin-left: 2%;
  }
}

@media (min-width: 1024px) {

  .callToAction {
    width: 32.7%;
    margin-left: 1%;
    margin-bottom: 1%;
  }


  .callToAction:nth-child(3n+1) {
    margin-left:0;
  }


}


.callToActionsModule--expandFirst {

  @media (min-width: 760px) and (max-width: 1024px) {
    .callToAction:first-child {
      width: 100%;
    }

    .callToAction:nth-child(2n) {
      margin-left:0;
    }
    .callToAction:nth-child(2n + 3) {
      margin-left: 2%;
    }
  }


  @media (min-width: 1024px) {
    .callToAction {
      width: 32%;
      margin-bottom: 2%;
      margin-left:2%;
    }
    .callToAction:first-child {
      width: 66%;
      margin-left:0;
      .callToAction-spacer {
        padding-bottom:61.2%;
      }
    }

    .callToAction:nth-child(2), .callToAction:nth-child(3) {
      float:right;
    }

    .callToAction:nth-child(3n + 4) {
      margin-left:0;
    }
  }
}



/*
@media (min-width: 760px) {
  .callToAction {
    width: 49%;
    margin-bottom: 0;
  }
  .callToAction:first-child {
    margin-bottom: 2%;
    width: 100%;
  }

  .callToAction:nth-child(2) {
    margin-right: 2%;
  }
}

@media (min-width: 1024px) {
  .callToAction {
    width: 32.4%;
    float:right;
  }
  .callToAction:first-child {
    float:left;
    width: 66.6%;
  }

  .callToAction:nth-child(2) {
    margin-right: 0;
    margin-bottom: 1%;
  }
}



.callToAction:first-child {
  width: 100%;
  margin-bottom: 2%;
  float:left;
}
.callToAction:nth-child(2) {
  margin-right: 2%;

}
*/