.post-page {
  max-width: 90%;
  width: $content__max-width;
  margin:auto;
  margin-top: 100px;
}


.post {

}


.post-header {
  text-align: center;
}
.post-title {
  margin:0;
  line-height: 1.1;
}
.post-meta {
  margin-top: 12px;
}

.post-date {
  font-size:1.2em;
}

.post-categories {
  list-style:none;
  padding: 0;
  margin:0;
}

.post-page {
  img {
    max-width: 100%;
    height: auto;
  }
}


@media (min-width: 768px) {
  .post-header {
    margin-bottom: 24px;
  }
  .post-page {
    margin-top: 150px;
  }
  .post-date {
    display: inline-block;
  }
  .post-category {
    display: inline-block;
    margin-left: 16px;
    li {
      display: inline-block;
      margin-left: 16px;
    }
  }
}

@media (min-width: 768px) {
  .post-page {
    .alignright {
      float:right;
      padding: 0 0 12px 12px;
    }

    .alignleft {
      float:left;
      padding: 0 12px 12px 0;
    }
  }
}





@media (min-width: 1024px) {
  .post {
    width: 60%;
    display: inline-block;
  }
}

.post-sidebar {

}

@media (min-width: 1024px) {
  .post-sidebar {
    width: 35%;
    margin-left:5%;
    display: inline-block;
  }
}