$color_dark: #25292b;
$color_dark--shaded: #1e1e1e;
$color_red--primary: #b11425;
$color_red--shaded: #9c1826;
$color_white--primary: #f0f0f0;

$menu__breakpoint: 770px;
$menu__logo__breakpoint: 500px;


$content__max-width: 1280px;


$shadow: 3px 3px 10px rgba(0,0,0,0.2);